.layers__item {
  @include flex($flow: column nowrap);
  position: absolute;
  background-size: cover;
  background-position: center;
  inset: -10vw;

  &_1 {
    background-image: url('../assets/bg-layers/layer-1.jpg');
    transform: translateZ(-55px) scale(1.06);
  }

  &_2 {
    background-image: url('../assets/bg-layers/layer-2.png');
    transform: translateZ(80px) scale(0.9);
  }

  &_3 {
    transform: translateZ(180px) scale(0.9);
  }

  &_4 {
    transform: translateZ(190px) scale(1.2);
    pointer-events: none;
  }

  &_5 {
    background-image: url('../assets/bg-layers/layer-5.png');
    transform: translateZ(300px) scale(0.9);
    pointer-events: none;
  }

  &_6 {
    background-image: url('../assets/bg-layers/layer-6.png');
    transform: translateZ(380px);
    pointer-events: none;
  }
}